/* Fonts */
/* Corner Style */
body, html {
  font-family: "Ubuntu";
  background-color: #f5f6fa;
  color: #1C2321; }
  body .page-header, html .page-header {
    border-bottom-color: #E7E8EB; }

td.active {
  background-color: #f5f6fa !important; }
td.success {
  background-color: #009663 !important; }
td.info {
  background-color: #00a4d5 !important; }
td.warning {
  background-color: #d5c70b !important; }
td.danger {
  background-color: #960f36 !important; }

tr.active td {
  background-color: #f5f6fa !important; }
tr.success td {
  background-color: #009663 !important; }
tr.info td {
  background-color: #00a4d5 !important; }
tr.warning td {
  background-color: #d5c70b !important; }
tr.danger td {
  background-color: #960f36 !important; }

button {
  -webkit-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.4); }

button, a, input {
  border-radius: 2px !important; }

button, a.btn, input.btn {
  border-width: 0px !important;
  outline: none !important; }
  button.btn-default, button.btn-default:focus, a.btn.btn-default, a.btn.btn-default:focus, input.btn.btn-default, input.btn.btn-default:focus {
    background-color: #1C2321;
    color: #f5f6fa;
    border-color: #f5f6fa; }
    button.btn-default:hover, button.btn-default:focus:hover, a.btn.btn-default:hover, a.btn.btn-default:focus:hover, input.btn.btn-default:hover, input.btn.btn-default:focus:hover {
      background-color: #35393b !important;
      color: #f5f6fa !important; }
  button.btn-primary, button.btn-primary:focus, a.btn.btn-primary, a.btn.btn-primary:focus, input.btn.btn-primary, input.btn.btn-primary:focus {
    background-color: #0551a0;
    color: #f5f6fa;
    border-color: #f5f6fa; }
    button.btn-primary:hover, button.btn-primary:focus:hover, a.btn.btn-primary:hover, a.btn.btn-primary:focus:hover, input.btn.btn-primary:hover, input.btn.btn-primary:focus:hover {
      background-color: #00a4d5 !important;
      color: #f5f6fa !important; }
  button.btn-success, button.btn-success:focus, a.btn.btn-success, a.btn.btn-success:focus, input.btn.btn-success, input.btn.btn-success:focus {
    background-color: #009663;
    color: #f5f6fa;
    border-color: #f5f6fa; }
    button.btn-success:hover, button.btn-success:focus:hover, a.btn.btn-success:hover, a.btn.btn-success:focus:hover, input.btn.btn-success:hover, input.btn.btn-success:focus:hover {
      background-color: #05a099 !important;
      color: #f5f6fa !important; }
  button.btn-warning, a.btn.btn-warning, input.btn.btn-warning {
    background-color: #d5c70b;
    color: #1C2321;
    border-color: #1C2321; }
    button.btn-warning:hover, a.btn.btn-warning:hover, input.btn.btn-warning:hover {
      background-color: #936D00 !important;
      color: #f5f6fa !important; }
    button.btn-warning:active, a.btn.btn-warning:active, input.btn.btn-warning:active {
      background-color: #d5c70b !important;
      color: #1C2321 !important; }
  button.btn-danger, a.btn.btn-danger, input.btn.btn-danger {
    background-color: #960f36;
    color: #f5f6fa;
    border-color: #f5f6fa; }
  button.disabled, button[disabled], a.btn.disabled, a.btn[disabled], input.btn.disabled, input.btn[disabled] {
    background-color: #b3c0c7;
    background-color: #35393b; }

input:focus, textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
input.form-control, textarea.form-control {
  border-radius: 0px !important;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #b3c0c7; }
  input.form-control:focus, textarea.form-control:focus {
    -webkit-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
    border-color: #00a4d5; }

small {
  color: #35393b !important; }

.navbar {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75); }
  .navbar.navbar-default {
    background-color: #1C2321 !important;
    color: #f5f6fa !important; }

.dropdown {
  border-width: 0px; }
  .dropdown ul.dropdown-menu {
    border-radius: 0px;
    background-color: #ffffff;
    border-width: 0px; }
    .dropdown ul.dropdown-menu li > a:hover {
      background-color: #35393b;
      color: #f5f6fa; }
    .dropdown ul.dropdown-menu li.dropdown-header {
      color: #E7E8EB; }

table thead > tr > th {
  border-color: #E7E8EB !important; }
table tbody > tr > td {
  border-color: #E7E8EB !important; }
table.table-bordered {
  border-color: #E7E8EB !important; }
  table.table-bordered thead > tr > th {
    border-color: #E7E8EB !important; }
  table.table-bordered tbody > tr > td {
    border-color: #E7E8EB !important; }

select.form-control:focus {
  -webkit-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
  border-color: #00a4d5 !important; }
select.form-control[disabled] {
  background-color: #E7E8EB;
  color: #000000; }

.form-group.has-success input.form-control {
  border-color: #009663 !important; }
.form-group.has-success label {
  color: #009663 !important; }
.form-group.has-warning input.form-control {
  border-color: #d5c70b !important; }
.form-group.has-warning label {
  color: #d5c70b !important; }
.form-group.has-error input.form-control {
  border-color: #960f36 !important; }
.form-group.has-error label {
  color: #960f36 !important; }

.form-control {
  border-radius: 0px !important; }

code, kbd {
  background-color: #35393b;
  color: #f5f6fa;
  border-radius: 2px; }

mark {
  background-color: #E7E8EB;
  color: #1C2321; }

blockquote, .blockquote-reverse {
  border-color: #E7E8EB; }

.warning {
  background-color: #d5c70b !important; }

/*# sourceMappingURL=main.css.map */
