@import 'smooth-palette';

$color-black: $jungle;
$color-white: $white-smoke;
$color-gray: $silver-sand;
$color-light-gray: $platinum;
$color-dark-gray: $onyx;
$color-red: $raspberry;
$color-orange: $topaz;
$color-yellow: $citrine;
$color-green: $green-cyan;
$color-dark-green: $rich-green;
$color-light-green: $viridian-green;
$color-cyan: $sea-blue;
$color-blue: $electric-blue;
$color-dark-blue: $midnight-blue;
$color-light-blue: $cerulean;
$color-royal-blue: $imperial-blue;
$color-purple: $vs-purple;
$color-brown: $brown-bean;
$color-light-brown: $chocolate;
$color-beige: $gamboge-brown;

$color-pure-black: #000000;
$color-pure-white: #ffffff
