$eerie-black: rgb(23, 25, 25);
$jungle: #1C2321;
$onyx: rgba(53, 57, 59, 1);
$silver-sand: rgba(179, 192, 199, 1);
$pale-aqua: #BBD5ED;
$platinum: #E7E8EB;
$white-smoke: #f5f6fa;
$rich-green: rgb(6, 48, 60);
$dull-purple: rgb(86, 63, 123);
$vs-purple: rgb(104, 38, 121);
$topaz: #932800;
$raspberry: rgb(150, 15, 54);
$chocolate: rgb(137, 68, 0);
$brown-bean: rgb(60, 30, 0);
$army-green: rgb(86, 80, 9);
$gamboge-brown: #936D00;
$citrine: rgb(213, 199, 11);
$green-cyan: rgb(0, 150, 99);
$viridian-green: rgb(5, 160, 153);
$cerulean: rgb(0, 164, 213);
$sea-blue: rgb(0, 105, 137);
$deep-sea-blue: rgb(0, 85, 111);
$python-blue: rgb(58, 118, 170);
$electric-blue: rgb(5, 81, 160);
$midnight-blue: #04395E;
$imperial-blue: rgb(5, 36, 150);
$oxford-blue: rgb(3, 21, 86);


$main-font: "Ubuntu";
