@import 'config';
@import 'color-scheme';

$body-background: $color-white;
$highlight-background: $color-blue;
$hightlight-text: $color-pure-white;
$highlight-border: $color-light-blue;

$active: $color-white;
$success: $color-green;
$info: $color-light-blue;
$warning: $color-yellow;
$danger: $color-red;

@mixin soft-shadow() {
    -webkit-box-shadow: 4px 4px 50px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 50px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 50px -8px rgba(0,0,0,0.75);
}

@mixin super-soft-shadow {
    -webkit-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.3);
}

@mixin medium-shadow() {
    -webkit-box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.4);
}

@mixin inner-shadow() {
    -webkit-box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.3);
}

@mixin outer-glow($color) {
    border-color: $color !important;
    box-shadow: 0 1px 1px $color inset, 0 0 0px $color !important;
    outline: 0 none !important;
}

@mixin no-shadow() {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body, html {
    font-family: $main-font;
    background-color: $body-background;
    color: $color-black;
    .page-header {
        border-bottom-color: $color-light-gray
    }
}

td, {
    &.active {
        background-color: $active !important;
    }
    &.success {
        background-color: $success !important;
    }
    &.info {
        background-color: $info !important;
    }
    &.warning {
        background-color: $warning !important;
    }
    &.danger {
        background-color: $danger !important;
    }
}

tr {
    &.active {
        td {
            background-color: $active !important;
        }
    }
    &.success {
        td {
            background-color: $success !important;
        }
    }
    &.info {
        td {
            background-color: $info !important;
        }
    }
    &.warning {
        td {
            background-color: $warning !important;
        }
    }
    &.danger {
        td {
            background-color: $danger !important;
        }
    }
}

button {
    @include medium-shadow();
}

button, a, input {
    border-radius: $corner-smooth !important;
}

button, a.btn, input.btn {
    border-width: 0px !important;
    outline: none !important;
    &.btn-default, &.btn-default:focus {
        background-color: $color-black;
        color: $color-white;
        border-color: $color-white;
        &:hover {
            background-color: $color-dark-gray !important;
            color: $color-white !important;
        }
    }
    &.btn-primary, &.btn-primary:focus {
        background-color: $color-blue;
        color: $color-white;
        border-color: $color-white;
        &:hover {
            background-color: $color-light-blue !important;
            color: $color-white !important;
        }
    }
    &.btn-success, &.btn-success:focus {
        background-color: $color-green;
        color: $color-white;
        border-color: $color-white;
        &:hover {
            background-color: $color-light-green !important;
            color: $color-white !important;
        }
    }
    &.btn-warning {
        background-color: $color-yellow;
        color: $color-black;
        border-color: $color-black;
        &:hover {
            background-color: $color-beige !important;
            color: $color-white !important;
        }
        &:active {
            background-color: $color-yellow !important;
            color: $color-black !important;
        }
    }
    &.btn-danger {
        background-color: $color-red;
        color: $color-white;
        border-color: $color-white;
    }
    &.disabled, &[disabled]{
        background-color: $color-gray;
        background-color: $color-dark-gray;
    }
}

input, textarea {
    &:focus {
        @include no-shadow();
    }
    &.form-control {
        border-radius: $corner-sharp !important;
        background-color: $color-pure-white;
        border-width: 1px;
        border-color: $color-gray;
        &:focus {
            @include inner-shadow();
            border-color: $highlight-border;
        }
    }
}

small {
    color: $color-dark-gray !important;
}

.navbar {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    &.navbar-default {
        background-color: $color-black !important;
        color: $color-white !important;
    }
}

.dropdown {
    $hover-color: $color-dark-gray;
    $hover-text-color: $color-white;
    border-width: 0px;
    ul.dropdown-menu {
        border-radius: $corner-sharp;
        background-color: $color-pure-white;
        border-width: 0px;
        li > a {
            &:hover {
                background-color: $hover-color;
                color: $hover-text-color;
            }
        }
        li.dropdown-header {
            color: $color-light-gray;
        }
    }
}

table {
    $table-border-color: $color-light-gray;
    thead > tr > th {
        border-color: $table-border-color !important;
    }
    tbody > tr > td {
        border-color: $table-border-color !important;
    }
    &.table-bordered {
        border-color: $table-border-color !important;
        thead > tr > th {
            border-color: $table-border-color !important;
        }
        tbody > tr > td {
            border-color: $table-border-color !important;
        }
    }
}

select{
    &.form-control {
        &:focus {
            @include inner-shadow();
            border-color: $highlight-border !important;
        }
    }
    &.form-control[disabled] {
        background-color: $color-light-gray;
        color: $color-pure-black;
    }
}

.form-group {
    &.has-success {
        input.form-control {
            border-color: $success !important;
        }
        label {
            color: $success !important;
        }
    }
    &.has-warning {
        input.form-control {
            border-color: $warning !important;
        }
        label {
            color: $warning !important;
        }
    }
    &.has-error {
        input.form-control {
            border-color: $danger !important;
        }
        label {
            color: $danger !important;
        }
    }
}

.form-control {
    border-radius: 0px !important;
}

code, kbd {
    background-color: $color-dark-gray;
    color: $color-white;
    border-radius: $corner-smooth;
}

mark {
    background-color: $color-light-gray;
    color: $color-black;
}

blockquote, .blockquote-reverse {
    border-color: $color-light-gray;
}

.warning {
    background-color: $color-yellow !important;
}